.cart {
  padding: 2rem 4rem;
  @include flex(row, unset, flex-unset, 4rem);
  > main {
    width: 70%;
    > h1 {
      @include heading(2px);
      text-align: center;
    }
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  > aside {
    width: 30%;
    padding: 4rem;
    @include flex(column, space-between, center, 2rem);
    > input {
      padding: 0.5rem 1rem;
      border: 1px solid rgba(0, 0, 0, 0.37);
      border-radius: 10px;
      outline: none;
    }
    > button {
      padding: 0.5rem 1rem;
      border: none;
      outline: none;
    }
    > p {
      font-size: 1.1rem;
      font-weight: 600;

      > em {
        color: red;
      }
    }
    > a {
      background-color: rgb(0, 98, 255);
      padding: 1rem;
      text-decoration: none;
      color: white;
      @include flex;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-radius: 5px;
      &::hover {
        opacity: 0.8;
      }
    }
    > span {
      margin-top: -1rem;
      @include flex(row, center, center, 5px);
      > code {
        font-weight: 900;
        align-self: flex-end;
      }
    }
  }
}
.cart-item {
  @include flex(row, flex-start, center, 4rem);
  > img {
    @include square(5rem);
    object-fit: cover;
  }
  > article {
    @include flex(column, space-between, flex-start, 1rem);
    a {
      font-size: 1.1rem;
      color: black;
      &:hover {
        color: aqua;
      }
    }
    span {
      font-weight: 600;
    }
  }
  > div {
    margin-left: auto;
    @include flex;
    button {
      border: none;
      @include square(2rem);
      border-radius: 5px;
      @include flex;
      background-color: transparent;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
