.login {
  height: 90vh;
  @include flex(column);

  > main {
    width: 100%;
    height: 80%;
    max-width: 400px;
    padding: 2rem;
    @include baseShadow;
    @include flex(column, center, center, stretch);

    > div {
      width: 100%;
      @include flex(column, flex-start, stertch, 0.2rem);
      > input,
      select {
        @include inputStyle(100%, 1rem, unset, 1px solid rgba(0, 0, 0, 0.196));
        border-radius: 5px;
        &:focus {
          border-color: rgb(5, 107, 224);
        }
      }
      > p {
        text-align: center;
        margin-top: 1rem;
        font-size: 1.1rem;
        font-weight: 700;
      }
      > button {
        width: 60%;
        height: 3rem;
        @include flex;
        margin: auto;
        padding: 1rem;
        border: none;
        background-color: rgb(5, 107, 224);
        color: white;
        border: 1;
        border-radius: 5px;
        font-size: 1.05rem;
        cursor: pointer;
      

        > svg {
          background-color: white;
          width: 30%;
          height: 100%;
        }
        > span {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
