.product-search-page {
  padding: 2rem;
  @include flex(row, flex-start, 2rem);
  min-height: calc(100vh - 6.5vh);
  > aside {
    min-width: 20rem;
    @include baseShadow;
    padding: 2rem;
    > h2 {
      @include heading(2px);
    }
    > div {
      > input,
      > select {
        @include inputStyle(100%, 1rem, white, 1px solid rgba(0, 0, 0, 0.1));
        border-radius: 5px;
        padding: 0.5rem;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
  > main {
    width: 100%;
    padding: 0 2rem;
    @include flex(column, flex-start, stretch, 1rem);
    > h2 {
      @include heading(2px);
      margin-bottom: 1rem;
    }

    > input {
      @include inputStyle(50%, 1rem, white, 1px solid rgba(0, 0, 0, 0.1));
      border-radius: 5px;
      display: block;
      margin: 1rem auto;
      padding: 0.5rem;
    }
    > .search-product-list {
      @include flex(row, flex-start, 2rem);
      flex-wrap: wrap;
      flex: 1;
      min-height: 0;
      overflow-y: auto;
    }
    > article {
      @include flex;
      margin-top: auto;

      > button {
        @include flex;

        border-radius: 5px;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
        cursor: pointer;
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
}
